@model IEnumerable<CyrensService.Models.Stories>

@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Web pages</h2>
1. Toka BHP <br />
            <a href="http://tokabhp.pl">
                <img src="~/images/Product1.jpg" />
            </a>