<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" src="../../webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../../webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="../../webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
</head>
<body>
<p>
miesieczne podatki od wynagrodzen dla firmy, dla przekazanej jako parametr wysokosci (procentowej) podatku
</p>
	<div class="container2">
	<a href="/" class="btn btn-success eBtn">powrot do menu</a>
		<div class="card">
			<div class="card-block">
			<div>Salary:  <span th:text="${data}"> </div>
			<hr />

			</div>
		</div>
		

</body>
</html>