<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" src="../webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{../js/mainwniosekurlopowy.js}" src="../../static/js/mainwniosekurlopowy.js"></script>
<script type="text/javascript" th:src="@{../js/main.js}" src="../../static/js/main.js"></script>
<link rel="stylesheet" href="../webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="../css/style.css" />
</head>
<body>

	<div class="container2">
	<button class="btn btn-success nBtn">Nowy wniosek urlopowy</button>
		<div class="card">
			<div class="card-block">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>name</th>
						<th>Imie</th>
						<th>Nazwisko</th>
						<th>status</th>
						<th>Od kiedy</th>
						<th>Do kiedy</th>
					</tr>
				</thead> 
				<tbody>
					<tr th:each="wniosekurlopowy :${data.content}">
					<td th:text="${wniosekurlopowy.id}"></td>
					<td th:text="${wniosekurlopowy.name}"></td>
					<td th:text="${wniosekurlopowy.pracownik?.name}"></td>
					<td th:text="${wniosekurlopowy.pracownik?.surname}"></td>
					<td th:text="${wniosekurlopowy.status}"></td>
					<td th:text="${wniosekurlopowy.odkiedy}"></td>
					<td th:text="${wniosekurlopowy.dokiedy}"></td>
					<td> <a th:href="@{/wniosekurlopowy/deletewniosekurlopowy/(id=${wniosekurlopowy.id})}" class="btn btn-danger delWniosekUrlopowyBtn">Kasuj</a> </td>
					<td> <a th:href="@{/wniosekurlopowy/findOnewniosekurlopowy/(id=${wniosekurlopowy.id})}" class="btn btn-primary eWniosekUrlopowyBtn">Edytuj</a> </td>
					</tr>
				</tbody>
			</table>
			<hr />
			<ul class="nav nav-pills">
				<li class="nav-item" th:each="i :${#numbers.sequence(0,data.totalPages-1)}">
				<a th:href="@{/wniosekurlopowy/(page=${i})}" th:text="${i}" class="nav-link"
				th:classappend="${currentPage}==${i}?'active':''"></a>
				</li>
			</ul>
			</div>
		</div>
		
		<a href="/" class="btn btn-warning backBtn">Powrot do menu</a>
		
		<div class="formWniosekUrlopowy">
			<form th:action="@{/wniosekurlopowy/savewniosekurlopowy}" method="post">
			<div class="modal fade" id="edycjaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Wniosek urlopowy</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
					
							<div class="form-group">
								<label for="id" class="col-form-label">ID:</label>
								<input type="text" class="form-control" id="id" name="id" value="" />
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Name:</label>
								<input type="text" class="form-control" id="name" name="name" value="" />
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Pracownik:</label>
								<input type="text" class="form-control" id="pracownik" name="pracownik" value="" />
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label" value="OCZEKUJE">Status (Administrator):</label>
								<select type="text" class="form-control" id="status" name="status">
  									<option value="OCZEKUJE">OCZEKUJE</option>
  									<option value="ZATWIERDZONY">ZATWIERDZONY</option>
  									<option value="ODRZUCONY">ODRZUCONY</option>	
								</select>
							</div>
							
							<div class="form-group">
								<label for="name" class="col-form-label">Od kiedy:</label>
								<input type="date" class="form-control" id="odkiedy" name="odkiedy" value="2020-03-22" >
							</div>
							<div class="form-group">
								<label for="name" class="col-form-label">Do kiedy:</label>
								<input type="date" class="form-control" id="dokiedy" name="dokiedy" value="2020-03-22">
							</div>							
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary" value="Save" />
						</div>
						</div>
					</div>
					</div>
					
					</form>
			</div>
			
<div class="modal fade" id="deleteModalWniosekUrlopowy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wniosek urlopowy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="alert alert-danger"> 
        	Czy na pewno chcesz usunac?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <a href="" type="button" class="btn btn-danger" id="delRef">Kasuj</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>